.logo img {
  max-width: 200px
}

.banner-item {
  background-image: url("../images/banner1.png");
}

.footer .container {
  padding-bottom: 2em;
}

.footer .action-box {
  padding: 1em 0;
}

.footer a:hover {
  color: #ffffff;
  font-weight: bold;
}

.footer a:hover .action-box {
  background-color: rgba(255, 170, 0, 0.2);
}

.footer a:hover .action-box .action-box-icon i {
  background-color: rgba(255, 170, 0, 0.8);
}
